# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

#infyom
/resources/views/vendor