@charset "UTF-8";
.menu{
    background-color: white;
    position: relative;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    overflow: hidden;
    min-height: 700px;
}

#treeTable{
    width: 100%;
    outline: none;
}

#treeTable tr>td,#treeTable tr>th{
    border: 1px solid #EDEDED;
    padding: 8px;
}

#treeTable tbody tr.fancytree-active {
    outline: 0;
}

#treeTable tbody .fancytree-title{
    line-height: 16px;
}

#treeTable tbody tr .fancytree-custom-icon {
    margin-left: 5px;
}